<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon.png">
    
    {% block login %}
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock %}
    <title>Shopping list</title>
</head>

<body>

    <!-- Nabvar -->
    
    {% block navbar %}
    {% endblock %}

    <!-- Block of content injected from templates -->
    <section class="content-container">
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>